.options {
  display: inline-block;
  width: 90%;
  height: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  margin-left: 4vw;
  margin-bottom: 4vh;
  margin-right: 1vw;
  margin-top: 4vh;
  display: inline-block;
}

body {
  background-color: #f2f2f2;
  color: gray;
}

.user_name {
  text-align: center;
  padding-top: 20vh;
  padding-left: 0vw;
  margin-left: 0%;
}

.subtext {
  margin-left: 6vw;
  margin-right: 6vw;
  text-align: "right";

  margin-left: 43%;
  margin-bottom: 2%;
  margin-top: 2%;
}

.follow {
  border: 1px solid green;
  margin-left: 33vw;
  margin-top: 15vh;
  margin-bottom: 5vh;
  /* margin-top:30vh; */
  background-color: #4caf50;
  color: white;
  padding-top: 0.8%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 1%;
}

.info {
  padding-top: 5vh;
}

.details {
  list-style-type: none;
}

li {
  padding-bottom: 4%;
  color: black;
}

.lists {
  color: gray;
  list-style-type: none;
}

tr {
  padding-bottom: 4%;
  margin-left: 4%;
  font-size: 15px;
}

/* span{
    border: 1px solid #137330;
    background-color:#137330;
    color:white;
    
    margin-right:1vw;
    margin-top:2vh;
    margin-bottom:5vh;
  } */

/* span:hover{
    background-color:#056073;
  } */
/* 
.get_help {
  border: 1px solid #4caf50;
  background-color: white;
  color: #4caf50;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  width: 100%;
}

.get_help:hover {
  background-color: #4caf50;
  color: white;
} */

.skills {
  background-color: #f39360;
  color: white;
  margin-left: 4%;
}

.profile_pic {
  position: absolute;
  top: 30%;
  left: 25%;

  width: 16%;
  height: 27%;
  background-color: white;
  border-radius: 50%;
  margin-bottom: 5vh;
}

.testimonial_img {
  border-radius: 50%;
  width: 4vw;
  height: 6vh;
}

.testimonail_text {
  display: inline-block;
  width: 90%;
  height: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #f0f0f0;
  display: inline-block;
  margin-bottom: 3vh;
}

.similar_user {
  border-radius: 50%;
  width: 6vw;
  height: 10vh;
  display: inline-block;
  margin-right: 2vw;
}

.help_title {
  background-color: #ffffff;
  border-color: #e7eaec;
  border-image: none;
  border-style: solid solid none;
  border-width: 4px 0 0;
  color: inherit;
  margin-bottom: 0;
  padding: 14px 15px 7px;
  min-height: 48px;
}

@media only screen and (max-width: 770px) {
  .profile_pic {
    top: 10%;
    height: 15%;
    left: 40%;
  }
  .options {
    margin-top: 5vh;
  }
  .user_name {
    top: 18%;
    margin: 0 0 0 0;
  }

  .subtext {
    top: 15%;
    margin-left: 16%;
  }

  .follow {
    top: 25%;
    margin-left: 40%;
  }
}

@media only screen and (min-width: 770px) and (max-width: 991px) {
  .profile_pic {
    top: 10%;
    height: 15%;
    left: 40%;
  }

  .user_name {
    margin-left: 1%;
  }

  .subtext {
    margin-left: 20%;
  }

  .follow {
    margin-left: 47%;
    margin-top: 5vh;
    margin-bottom: 3vh;
  }
}
