.corporateSolutions-headings{
    font-size: 16px;
}
.corporateSolutions-sub-headings{
    font-size: 14px;
}
.contact-us-btn{
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    color: #FFFFFF;
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    white-space: nowrap;
    cursor: pointer;
    border: 1px solid transparent;
}
.contact-us-btn:hover{
    background-color: #afafaf;
    border-color: #afafaf;
}
p{
    line-height: 1.4223;
}
i{
    color: inherit;
    font-size: 1rem;
}