.login-tabs{
    display:table;
}


.tab_img{
    max-height: 26px;
    vertical-align: middle;
    display: inline-block;
    margin-right: 2px;
}

.rect{
   
    width: 67%;
    height: 100%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color:white;
    margin-left: 4vw;
    margin-bottom: 4vh;
    margin-right:1vw;
    margin-top: 5vh;
    
}

.fb{
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    background-color: #3B5998;
    border-color: #3B5998;
    padding: 10px 16px;
    font-size: 18px;
    justify-content:center;
}
.fb:hover{
    background-color: #2d4373;
    border-color: #2d4373;
}
.fb:hover,.fb:hover>span{
    color:#fff;
}
.linkedin{
    display: flex;
    align-items: center;
    width: 100%;
    color: #fff;
    background-color: #0177B5;
    border-color: #0177B5;
    padding: 10px 16px;
    font-size: 18px;
    justify-content:center;
}
.linkedin:hover{
    background-color: #015682;
    border-color: #015682;
}
.linkedin:hover, .linkedin:hover>span{
    color:#fff;
}
.mail{
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #c2c2c2;
    border-color: #c2c2c2;
    color: #FFFFFF;
    padding: 10px 16px;
    font-size: 18px;
    justify-content:center;
}
.mail:hover{
    background-color: #bababa;
    border-color: #bababa;
}
.mail:hover, .mail:hover>span{
    color:#fff;
}
.form_input{
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
    margin-top:2vh
}
.form_input::placeholder{
    color:#adadad;
}
.login{
    color: white;
   border: 1px solid #4CAF50;
    margin-top: 3vh;
    
    background-color: #4CAF50;
    padding: 1vh 1vw 1vh 1vw;
    width:100%
}

.userIcon{
    width: 100%;
    height: 70%;
    margin-top: 2vh;
    margin-left: 2vw;
    margin-right: 2vw;
    padding-left: 3vw;
}

.know_more{
    border: 1px solid #4CAF50;
    color:white;
    background-color :#4CAF50 ;
   padding: 1vh 0vw 1vh 0vw;
    margin-top: 5vh;
    width: 10%;
    margin-left: 45%;
    margin-bottom:-8%
}
.fw-bold{
    font-weight: bold;
}
.login-container{
    padding: 3rem;
}
.login-avatar{
    width: 80px;
}
@media only screen and (max-width:425px) {
    .login-container{
        padding:1rem;
    }
    .fb>span{
        font-size: 16px;
    }
    .linkedin>span{
        font-size: 16px;
    }
    .mail>span{
        font-size: 16px;
    }
    .social-icons{
        font-size: 20px;
        margin-right: 10px !important;
    }
}