.overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    position: absolute !important;
    top: 0;  
    opacity: 1;
    transition: all 0.5s ease;
    background: #4caf4f;
    right: -100%;
    z-index: 1;
}
.overlay.active{
    right:0;
}
.overlay-container {
    padding: 1.5rem;
    overflow-y: scroll;
}
.menu-close-icon{
    color: #fff;
    font-weight: bold;
    font-size: 20px;
}
.menu-sub-container{
    margin-top: 2rem;
}
.menu-sections{
    min-height: 50px;
    border-bottom: 1px solid #46a149;
    padding: 8px 15px;
}
.menu-heading{
    color: #fff;
    font-size: 1.3rem;
    font-weight: normal;
}
.menu-subheading{
    color: #fff;
    font-size: 1.1rem;
    padding-left: 4rem;
    margin: 8px 0;
}
.menu-icons{
    width: 30px;
    margin: 0 8px 0 0;
}