body {
  color: white;
}

.rectangle {
  display: inline-block;

  width: 100%;
  height: 50vh;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: #4caf50;
  margin-left: 0vw;
  margin-bottom: 4vh;
  margin-right: 1vw;
  margin-top: 1vh;
  display: inline-block;
  color: white;
}

li {
  color: white;
  text-decoration: none;
  list-style-type: none;
  font-weight: 600;
}
a {
  color: white;
}

/* hr{
      background-color: red;
  } */

.leftside {
  padding-left: 4vw;
  font-weight: 600;
  padding-bottom: 1vh;
}

.rightside {
  padding-right: 10vw;
  font-weight: 600;
}

.title {
  border-bottom: 2px solid #ff8a65;
  display: inline-block;
  margin: 0 0 -2px;
  padding-bottom: 5px;
  font-size: 1.7rem;
  color: white;
  margin-top: 2vh;
}

.heading {
  border-bottom: 1px dotted #fff;
  display: block;
  margin: 10px 0 25px;
}

.social-ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding: 0;
  margin-bottom: 10px;
}

.btn-fb {
  color: #3b5998;
  background-color: #ffffff;
  border-color: #ffffff;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0;
  border-radius: 15px;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857143;
}

.fa {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}
