.rect2{
    display:inline-block;
   
    height: 60%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color:white;
    margin-left: 4vw;
    margin-bottom: 4vh;
    margin-right:1vw;
    margin-top: 1vh;
    
    
}
*{
    color:#676a6c;
    font-family: sans-serif;
    font-weight:500;
    font-size: 13px;
}

.cause{
    width: 100%;
    padding-top: 2%;
    padding-left: 6%;
    padding-bottom: 2%;
    font-size: 14px;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    margin-bottom: 2%;
}

.contri{
    background-color: #fff;
    border: 1px solid #E5E6E7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
    margin-top:1vh;
    margin-bottom:1%;
    margin-right:0px;
    width:65%;
}

.filter_heading{
    margin-top:3vh;
    margin-bottom:1vh;
    display: inline-block;
    max-width: 100%;
    color: #676a6c;
    font-weight: 700;
}


.hour{
    background-color: #fff;
    border: 1px solid #E5E6E7;
    border-radius: 1px;
    color: inherit;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 6px 12px;
    text-align: center;
    margin-left:0px;
}

.radio_opt{
    position: relative;
    display: inline-block;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-left:5px;
    font-size: 13px;
    color: #676a6c;
    font-weight: 500;
}

.skill{
    position: relative;
    z-index: 2;
    float: left;
    width: 80%;
    margin-bottom: 0;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    font-size: 14px;
}

.clear{
    border: 1px solid black;
    padding: 1vh 1vw 1vh 1vw;
    background-color: gray;
    color: white;
    display:inline-block;
    margin-left:1px;
    font-weight: 700;
    font-size:13px
}

.tags{
    box-shadow: none;
    background-color: #FFFFFF;
    background-image: none;
    border: 1px solid #e5e6e7;
    border-radius: 1px;
    color: inherit;
    display: block;
    padding: 6px 12px;
    transition: border-color .15s ease-in-out 0s,box-shadow .15s ease-in-out 0s;
    width: 100%;
    font-size: 14px;
    min-height: 34px;
}
.task_card{
    display:inline-block;
    width: 100%;
    height: 91%;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 16%);
    background-color: white;
    margin-left: 4vw;
    margin-bottom: 1vh;
    margin-right: 1vw;
    margin-top: 4vh;
    display: inline-block;
}

.task{
    color: #4CAF50;
   border: 1px solid #4CAF50;
    margin-top: 3vh;
    margin-left:4vw;
    background-color: white;
    padding: 1vh 1vw 1vh 1vw; 
    
}

.button_style{
    border: 1px solid #4CAF50;
    background-color: white;
    color:#4CAF50;
  padding: 15px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  width:100%;
  font-weight: 700;

}

button:hover{
    background-color:#4CAF50 ;
    color: white;
}

.filters{
    width: 100%;
  height: 100%;
  padding: 17px 25px 31px 26px;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: var(--white);
  margin-left: 2vw;
}

.tasks{
    width: 100%;
    height: 80%;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    background-color: var(--white);
    margin-bottom: 45px;
   
}
.donations{
    width:40%;
    margin-left: 34%;
    margin-right:10vw;
    border-radius: 10% 15% 15% 10%;
    height:10%;
    margin-bottom: 2%;
}

span{
    color: gray;
    margin-right: 5px;
    border: 0px;
    background-color: white;
}

span:hover{
    background-color: white;
}

select{
    margin-bottom: 3vh;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    
    
  }
  
  .flex-container > div {
    background-color:white;
    width: 30%;
    text-align: center;
   
   
  }

  .count_me_in{
    border: 1px solid #4CAF50;
    color:white;
    background-color :#4CAF50 ;
   padding: 1vh 0vw 1vh 0vw;

    margin-right: -12px;
    margin-top: 3vh;
    width: 80%;
    margin-left: 1vw;
  }

  .tabs{
    margin-bottom: 25px;
    padding-left: 0;
    padding-right: 15px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
    
  }

  .a:active{
    color: #fff;
    background: #80c883;
  }

  .body{
    font-size: 13px;
    color: #676a6c;
  }
  

  a, a:hover, a:focus {
    color: #4CAF50;
    outline: none;}

    ::selection {
        color: #fff;
        background: #80c883;
    }
