.task-body {
  display: inline-block;
  width: 90%;
  height: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  margin-left: 4vw;
  margin-bottom: 4vh;
  margin-right: 1vw;
  margin-top: 4vh;
  display: inline-block;
}

.help {
  color: white;
  border: 1px solid #4caf50;
  margin-top: 1vh;
  margin-left: 1vw;
  background-color: #4caf50;
  padding: 1vh 2vw 1vh 1vw;
  width: 100%;
  font-size: 20px;
  font-weight: 500;
}

.th {
  width: 50%;
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  word-wrap: break-word;
  text-align: left;
}

.tc {
  width: 50%;
  display: table-cell;
  padding: 10px;
  border-bottom: 1px solid #ebebeb;
  word-wrap: break-word;
}

.img_holder {
  display: table-cell;
  vertical-align: top;
  width: 50%;
  border-radius: 50%;
  margin-top: 4vh;
  word-wrap: break-word;
  text-align: left;
}

.content_holder {
  display: table-cell;
  vertical-align: top;
  padding: 0 5px;
  margin-left: 0px;
  word-wrap: break-word;
  text-align: left;
}

.main_holder {
  display: table;
  width: 100%;
}
