* {
  box-sizing: border-box;
}

.box {
  display: inline-block;
  height: 100%;
  box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
  background-color: white;
  margin-bottom: 4vh;
  margin-right: 1vw;
  display: inline-block;
  margin-top: -119px;
  width: 86%;
  margin-left: 7vw;
}

li {
  list-style-type: decimal;
  display: list-item;
  text-align: -webkit-match-parent;
  color: #676a6c;
  line-height: 26px;
  font-weight: 550;
  word-spacing: 1px;
  font-size: 14px;
}

body {
  font-family: "Varela Round", sans-serif, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: #676a6c;
}

ol {
  display: block;
  list-style-type: decimal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.heading {
  word-spacing: 3px;
  font-family: sans-serif;
  font-size: 27px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

.blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eee;
}

.join {
  color: #ffffff;
  border: 1px solid #4caf50;

  background-color: #4caf50;
  padding: 10px 16px;
  width: fit-content;
  font-size: 18px;
}

.btn-group-justified {
  display: table;
  width: 100%;
  table-layout: fixed;
  border-collapse: separate;
}

.btn-group {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.faq_button {
  color: #4caf50;
  border: 1px solid #4caf50;

  background-color: #ffffff;
  padding: 1px 1px 1px 1px;
  width: 234px;

  height: 36px;
}

.faq-item {
  padding: 20px;
  margin-bottom: 2px;
  background: #fff;
}

.faq-question {
  font-size: 18px;
  font-weight: 600;
  color: #4caf50;
  display: block;
}

.faq-answer {
  margin-top: 10px;
  background: #f3f3f4;
  border: 1px solid #e7eaec;
  border-radius: 3px;
  padding: 15px;
}
